.sentence-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.word-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between words */
}

.word {
  opacity: 1;
  transition: opacity 1s ease-out;
  position: relative;
}

/* Apply animation to each word */
.fade-animation-0 {
  animation: fade-out 2s ease-in-out 2s 1 forwards;
}

.fade-animation-1 {
  animation: fade-out 2s ease-in-out 3s 1 forwards;
}

.fade-animation-2 {
  animation: fade-out 2s ease-in-out 3s 1 forwards;
}

/* Add more animation classes for each word */

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
